
/* add basic styles which are used in all pages */
@import "basic.css";

body {
    overflow-x: hidden;
}

.wrapper > div {
    transition: all 1.5s ease;
}

span {
    font-size: 1.2vw;
}

/* SPECIAL STYLES FOR HEADER  */
header {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header__link:first-of-type {
    margin-left: 4vw;
}

.header__link:nth-of-type(5) {
    margin-right: 4vw;
}

.header__link:nth-of-type(2) {
    color: var(--pink);
}


/* STYLES FOR ALL BLOCKS */
.content {
    grid-column: 2 / 6;
    display: flex;
    margin-top: 5.2%;
}


/* STYLES FOR LEFT BLOCK WITH PHOTOS */
.photo {
    margin-top: 4%;
    width: 42%;
}

.photo__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.photo__desc span {
    margin-bottom: 1vw;
}

.photo__desc img,
.photo__desc-up img{
    width: 0.8vw;
}

.photo__main {
    position: relative;
}

.photo__main__down {
    width: 36vw;
    transform: translate(0vw, 13vw);
}

.photo__main__up {
    width: 19vw;
    transform: translate(22vw, -32vw);
}

.photo__main .circle-pink {
    background-color: var(--pink);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 10vw;
    left: 40%;
    z-index: 2;
}

.photo__list {
    margin-top: 10vw;
}

.photo__list__block {
    width: 87%;
    margin-bottom: 8vw;
    position: relative;
}

.photo__list__block .photo_inner{
    width: 35vw;
}

.photo__list__block:nth-of-type(odd) {
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 8vw;
}

.circle-blue {
    background-color: var(--blue);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    bottom: -7vw;
    right: 3vw;
}

.wiggle {
    width: 10vw;
}

.photo_inner {
    margin-bottom: 1vw;
}

.photo__desc-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 6vw;
}

.photo__desc-up img {
    margin: 0 auto;
    margin-right: 0;
}

.photo__desc-up a {
    text-transform: lowercase;
    color: black;
    font-weight: 400;

}

/* STYLES FOR PAGE WITH BUILDING */
.photo__main-building .rect {
    background-color: var(--blue);
    width: 35vw;
    height: 35vw;
    transform: translate(2vw);
}

.photo__main-building .circle-pink {
    top: 5vw;
    left: 23%;
}

.photo__main-building .wiggle {
    position: absolute;
    top: -2vw;
    right: 2vw;
}

.photo__main-building .build-photo {
    position: absolute;
    bottom: 7vw;
    right: 5vw;
    z-index: 2;
    width: 30vw;
}

.photo__list__video {
    width: 100%;
    margin-bottom: 10vw;
    margin-top: 10vw;
    position: relative;
}

.photo__list__video iframe {
    width: 100%;
    height: 22.7vw;
}

/* STYLES FOR PAGE OF 1ST FLOOR */

.firstFloor__one {
    transform: translateX(7vw);
    width: 19.55vw;
    /* animation: showPic .15s linear;
    animation-delay: 2s; */
}

.photo__main__bc {
    background-color: var(--blue);
    text-align: center;
    transform: translateY(-2vw);
}

.photo__main__bc img {
    width: 32vw;
    padding: 2vw;
}

.photo__main__firstFloor .circle-pink {
    top: 6vw;
    left: 60%;
}


/* STYLES FOR PAGE 2ND FLOOR */

.photo__main__secondFloor__bc {
    background-color: var(--blue);
    text-align: center;
    margin-top: 4vw;
}

.photo__main__secondFloor__bc img {
    padding: 2vw;
}

.photo__main__secondFloor .circle-pink {
    top: -4vw;
    left: 68%;
}

.photo__main__secondFloor .wiggle {
    transform: translate(-4vw,-4vw) rotate(175deg);
}


/* STYLES FOR PAGE 3D FLOOR */

.photo__main__thirdFloor .circle-pink {
    top: 12vw;
    left: 73%;
}

.photo__main__thirdFloor-first {
    transform: translate(15vw);
}

.photo__main__thirdFloor__bc {
    background-color: var(--blue);
    text-align: center; 
    width: 35vw;
    transform: translateY(-5vw);
}

.photo__main__thirdFloor__bc img{
    width: 28vw;
    padding: 3vw;
}

/* STYLES FOR TEXT PINK BLOCK */

.text {
    background-color: var(--pink);
    width: 38%;
    right: 15%;
    position: fixed;
    height: 110vh;
    color: white;
}

.text__content {
    padding: 2.5vw;
}

.text__content h2 {
    margin-bottom: 2vw;
}

.text__content p {
    margin-bottom: 1.5vw;
}


/* STYLES FOR SIDE MENU BLUE BLOCK */

.menu {
    background-color: var(--blue);
    right: 0%;
    position: fixed;
    height: 110vh;
    padding: 2.5vw 1vw;
    width: 13%;
}

.menu__content {
    display: flex;
    flex-direction: column;
}

.menu__content a {
    color: white;
    margin-bottom: 1vw;
}

.menu__content a:hover {
    color: var(--grey)
}


/* SLIDER */

.photo__list__plan {
    background-color: var(--blue);
    width: 100%;
    margin-bottom: 10vw;
    margin-top: 10vw;
    position: relative;
}

.photo__list__plan-slide  {
    padding: 2vw;
    color: white;
    display: flex;
}

.slider {
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-bottom: 5vw;
}

.slider .item {
    animation: fade .55s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
  
    45% {
        opacity: .5;
        transform: scale(.95);
    }
  
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.item {
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.slider__link {
    margin-top: 2vw;
    cursor: pointer;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 1vw;
    width: 24px;
    height: 10px;
    z-index: 3;
}

.prev {
    left: 4vw;
    background-image: url(../img/arrow-slider-prev.svg);
}

.next {
    right: 4vw;
    background-image: url(../img/arrow-slider-next.svg);
}

.prev:hover,
.next:hover {
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
}

/* PLan descrIPTIONS */
.item__desc {
    position: absolute;
    cursor: pointer;
    transition: all .33s ease-in-out;
}

.item__desc-1floor1 {
    transform: translate(16vw, 14vw);
}

.item__desc-1floor3 {
    transform: translate(10vw, 10vw);
}

.item__desc-1floor4 {
    transform: translate(6vw, 5vw);
}

.item__desc-2floor1,
.item__desc-1floor2 {
    transform: translate(19.5vw, 3vw);
}

.item__desc-2floor3 {
    transform: translate(25.5vw, 7vw);
}

.item__desc-3floor1 {
    transform: translate(8vw, 5.5vw);
}

.item__desc-3floor2 {
    transform: translate(25.5vw, 6.5vw);
}

.item__desc-dot {
    width: 20px;
    height: 20px;
    background-color: var(--pink);
    border-radius: 50%;
}

.item__desc-text {
    position: absolute;
    top: -3vw;
    background-color: white;
    border-radius: 5px;
    color: var(--blue);
    padding: .8vw;
    text-align: center;
    font-size: 1vw;
    width: 8vw;
    visibility: hidden;
}

.item__desc:hover .item__desc-dot {
    transform: scale(.8);
    transition: all .33s ease-in-out;
}

.item__desc:hover .item__desc-text {
    visibility: visible;
    animation: showDesc .33s ease-in-out;
}

@keyframes showDesc {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    45% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 1024px) {
    .item__desc-dot {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 768px) {

    span {
        font-size: 1.8vw;
    }

    .content {
        margin-top: 9%;
        grid-column: 1 / 6;
        display: grid;
        grid-template-rows: 1fr 5fr;
    }

    .text {
        position: relative;
        right: auto;
        width: 70%;
        height: auto;
        grid-row: 1 / 3;
        padding: 4vw;
    }

    .photo {
        margin-top: 4%;
        width: 70%;
        padding-left: 6vw;
    }  
    
    .photo__desc img,
    .photo__desc-up img {
        width: 1.2vw;
    }
    
    .photo__main__up {
        width: 28vw;
        transform: translate(38vw, -47vw);
    }

    .photo__main__down {
        width: 52vw;
        transform: translate(0vw, 13vw);
    }

    .photo__main .circle-pink {
        background-color: var(--pink);
        width: 14vw;
        height: 14vw;
    }

    .photo__list__block .photo_inner {
        width: 58vw;
    }

    .menu {
        width: 18%;
        padding-top: 6vw;
        padding-left: 3vw;
    }


    /* STYLES FOR BUILDING PAGE */

    .photo__main-building {
        margin-bottom: 32%;
    }

    .photo__main-building .rect {
        width: 55vw;
        height: 49vw;
        transform: translate(4vw, 4vw);
    }

    .photo__main-building .circle-pink {
        top: 10vw;
    }

    .photo__main-building .wiggle {
        top: 2vw;
        right: 12vw;
        width: 14vw;
    }

    .photo__main-building .build-photo {
        bottom: 4vw;
        right: 14vw;
        width: 49vw;
    }

    .item__desc-dot {
        width: 22px;
        height: 22px;
    }

    .item__desc-2floor1, .item__desc-1floor2 {
        transform: translate(37.5vw, 6vw);
    }

    .item__desc-1floor1 {
        transform: translate(30vw, 27vw);
    }

    .item__desc-1floor3 {
        transform: translate(18vw, 18vw);
    }

    .item__desc-1floor4 {
        transform: translate(14vw, 9vw);
    }

    .item__desc-2floor3 {
        transform: translate(48.5vw, 15vw);
    }

    .item__desc-3floor2 {
        transform: translate(49.5vw, 11.5vw);
    }

    .item__desc-3floor1 {
        transform: translate(15vw, 11.5vw);
    }

    .item__desc-text {
        top: -6vw;
        padding: 1.2vw;
        font-size: 1.8vw;
        width: 12vw;
    }

    .photo__list__video iframe {
        height: 38.7vw;
    }
}

@media (max-width: 425px) {
   span {
    font-size: 3.8vw;
   }

  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .photo,
  .text,
  .menu {
      width: 100%;
   }

  .menu {
      position: relative;
      height: auto;
      padding: 6vw;
   }

  .menu__content {
     flex-direction: row;
  }

  .menu__content a {
      margin-right: 2vw;
  }

  .text__content {
      width: 80%;
      padding: 2.5vw;
      padding-top: 6vw;
  }

  .text__content h2 {
    margin-bottom: 5vw;
  }

  .text__content p {
    margin-bottom: 4.5vw;
  }

  .photo {
    margin-top: 18vw;
  }

  .photo__main__up {
    width: 37vw;
    transform: translate(-16vw, -19vw);
  }

  .photo__main .circle-pink {
    width: 18vw;
    height: 18vw;
    top: 17vw;
  }

  .photo__main__down {
    width: 62vw;
    transform: translate(0vw, 13vw);
  }

  .photo__list {
    margin-top: 34vw;
  }

  .photo__list__block {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 25vw;
  }

  .photo__list__block:nth-of-type(odd) {
    margin: 0 auto;
    margin-bottom: 25vw;
  }

  .photo__list__block .photo_inner {
    width: 81vw;
  }

  .circle-blue {
    width: 20vw;
    height: 20vw;
    bottom: -10vw;
    right: 21vw;
  }

  .wiggle {
    width: 36vw;
    margin-bottom: -11vw;
    z-index: 2;
  }

  .photo__desc-up {
    margin-right: 12vw;
  }

  .photo__desc img,
  .photo__desc-up img {
    width: 3.2vw;
  }

  /* STYLES FOR BUILDING PAGE */
  .photo__main-building .rect {
    width: 78vw;
    height: 72vw;
  }

  .photo__main-building .wiggle {
    top: -2vw;
    right: 18vw;
    width: 21vw;
  }

  .photo__main-building .build-photo {
    bottom: 4vw;
    right: 24vw;
    width: 69vw;
  }

  .photo__list__plan {
    width: 85%;
    margin-bottom: 20vw;
   }

   .photo__list__plan-slide {
    padding: 4vw;
   }

   .slider {
    padding-bottom: 12vw;
    }

    .slider__link {
        margin-bottom: 1.5vw;
    }

   .item__desc-2floor1, .item__desc-1floor2 {
    transform: translate(44.5vw, 6vw);
    }
    .item__desc-1floor3 {
        transform: translate(24vw, 22vw);
    }

    .item__desc-1floor1 {
        transform: translate(37vw, 33vw);
    }

    .item__desc-2floor3 {
        transform: translate(60.5vw, 15vw);
    }

    .item__desc-3floor2 {
        transform: translate(60.5vw, 13.5vw);
    }

    .item__desc-text {
        top: -9vw;
        left: -7vw;
        padding: 2vw;
        font-size: 2.8vw;
        width: 19vw;
    }

    .photo__list__video {
        width: 85%;
    }

    .photo__list__video iframe {
        height: 54.7vw;
    }


}