/* add basic styles which are used in all pages */
@import "basic.css";

body {
    overflow: hidden;
    position: relative;
}

.card {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    position: relative;
}

/* Section with photos */
.card__product {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--blue);
}

.card__product__wrap {
    padding-top: 3vw;
    height: 87vh;
}

.card__product__links {
    color: white;
    display: flex;
    font-size: 16px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.card__product__links a {
    color: white;
    text-transform: none;
    font-weight: 300;
    font-size: 16px;
}

.card__product__links div {
    font-weight: 500;
}

/* SLIDER */
.card__product__slider {
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 8%;
    padding-left: 6vw;
    padding-right: 6vw;
}

.slider .item {
    animation: fade .55s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(1);
    }
  
    45% {
        opacity: .5;
        transform: scale(.95);
    }
  
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.item {
    padding-left: 4vw;
    padding-right: 4vw;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.card__product__slider__link {
    cursor: pointer;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    top: 14vw;
    width: 20px;
    height: 36px;
    z-index: 3;
}

.prev {
    left: 4vw;
    background-image: url(../img/arrow-prev.png);
}

.next {

    right: 4vw;
    background-image: url(../img/arrow-next.svg);
}

.prev:hover,
.next:hover {
    transition: transform .2s ease-in-out;
    transform: scale(1.2);
}



/* section with description */
.card__content__top {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    background-color: var(--grey);
    color: var(--blue);
}

.card__content__top-wrap {
    padding: 5vw;
    padding-left: 8vw;
}

.card__content__top-title {
    margin-bottom: 6vw;
}

.card__content__top-title h2 {
    margin-bottom: 0.5vw;
}

.card__content__top-title > p{
    text-transform: uppercase;
}


/* section with price */
.card__content__bottom {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.card__content__bottom-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 5vw;
    padding-left: 8vw;
    padding-right: 5vw;
    align-items: center;
}

.price {
    display: flex;
    text-transform: uppercase;
}

.price span {
    font-size: 24px;
}

.price span:nth-of-type(2) {
    font-weight: 500;
}

.button {
    background-color: var(--pink);
    border-radius: 2px;
    color: white;
    padding: 1.5vw 5vw;
    font-size: 24px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.card__price__adap {
    display: none;
}

/* for new generate elements */
.div__circle {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    z-index: 2;
    top: -20vw;
    transform: all .33s ease;
    cursor: grab;
}

/* pop up window */
.popup {
    position: fixed;
    z-index: 9999 !important;
    top: 30%;
    left: 30%;

    background-color: var(--pink);
    border-radius: 5px;
    width: 38vw;
    height: 21vw;
    color: white;
    text-align: center;

    opacity: 1;
    transform: scale(1);
    animation: showPopup 2.5s ease-in-out;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;

    visibility: hidden;
}

@keyframes showPopup {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    20% {
        transform: scale(.5);
    }
    45% {
        opacity: 1;
        transform: scale(1.25);
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

.popup h2 {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2vw;
    margin-top: 7vw;
}
.popup p {
    padding-left: 5vw;
    padding-right: 5vw;
}


/* ingredients window */
.card__product__ingred {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 1.2vw;
    cursor: pointer;
    margin-top: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.ingred {
    position: absolute;
    visibility: hidden;
    top: 8.5%;
    z-index: 4;
    width: 100%;
    height: 100%;
}

.ingred-active {
    visibility: visible;
    animation: show .3s linear;
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ingred__bc {
    background-color: var(--blue);
    opacity: .6; 
    width: 100%;
    height: 100%;
}

.ingred__content {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    top: 5%;
    left: 14%;
    width: 68vw;
    height: 42vw;
    padding: 2vw;
    overflow: hidden;
}

.ingred__content__close {
    display: flex;
    justify-content: flex-end;
}

.ingred__content__close svg {
    cursor: pointer;
    width: 5vw;
    margin-right: -1vw;
}

.ingred__content h2 {
    color: var(--blue);
    font-size: 28px;
    margin-bottom: 1vw;
}

.ingred__content__block {
    display: flex;
    margin-top: 4vw;
}

.ingred__content__block__box {
    border-radius: 8px;
    color: white;
    font-weight: 600;
    padding: 2vw;
}

.ingred__content__block__box-percent {
    font-size: 4.8vw;
    margin-bottom: 1vw;
}

.ingred__content__block__box:nth-of-type(odd) {
    background-color: var(--pink);
}

.ingred__content__block__box:nth-of-type(even) {
    background-color: var(--blue);
}

.ingred__content__block__box:first-of-type {
    width: 15vw;
    transform: translate(0vw, 5vw);
}

.ingred__content__block__box:nth-of-type(2) {
    width: 12vw;
    transform: translate(-2vw, -1vw);
}

.ingred__content__block__box:nth-of-type(3) {
    width: 14vw;
    transform: translate(-5vw, 7vw);
}

.ingred__content__block__box:nth-of-type(4) {
    width: 11vw;
    transform: translate(-8vw, 0vw);
}

/* elements */
.ingred__content__el {
    margin-top: 13vw;
}

.ingred__content__el span{
    color: var(--grey);
    font-size: 12px;
}

.ingred__content__el__line {
    display: flex;
    margin-top: 1.5vw;
}

.ingred__content__el__line__block {
    display: flex;
}

.ingred__content__el__line__block-item {
    margin-right: 5vw;
    display: flex;
}

.ingred__content__el__line__block-item-text {
    margin-left: 1vw;
}

.text-title,
.text-number  {
    font-weight: 600;
}

.text-title {
    font-size: 14px;
    color: var(--pink);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.text-number {
    font-size: 24px;
    color: var(--blue);
}

/* open full product desc btn */
.ingred__contnet__show {
    position: absolute;
    top: 45%;
    right: 0;
    color: var(--blue);
    font-weight: 600;
    right: -1vw;
    cursor: pointer;
}

.ingred__contnet__show img {
    margin-left: 1.4vw;
}

.ingred__contnet__show p{
    font-size: 14px;
    transform: translate(0vw, -22px) rotate(-90deg);
}

/* full product desc */
.ingred__content__desc {
    background-color: white;
    box-shadow: -14px 0px 15px rgba(0, 36, 177, 0.05);
    border-radius: 15px;
    height: 46vw;
    width: 30vw;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--blue);
    font-size: 14px;
    padding: 3vw 2vw 0vw 5vw;

    /* change in js */
    transform: translateX(85vw);
}


.ingred__content__desc  {
    font-size: 18px;
}

.ingred__content__decs__bottom {
    color: var(--grey);
    position: absolute;
    margin-top: 3vw;
}

.ingred__content__decs__bottom  p{
    font-size: 14px;
}

.arrow-from {
    position: absolute;
    left: 23px;
    top: 40%;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .ingred {
        top: 7%;
    }

    .ingred__content{
        height: 52vw;
    }

    .ingred__content__close svg {
        width: 4vw;
    }

    .ingred__content__el {
        margin-top: 17vw;
    }

    .ingred__content__desc {
        height: 56vw;
    }

    .ingred__content__decs__bottom {
        margin-top: 12vw;
    }

    .arrow-from  {
        width: 1.8vw;
    }
}

@media (max-width: 768px) {

    body {
        overflow: auto;
        overflow-x: hidden;
    }

    .card__product__links {
        display: none;
    }

    .card {
        margin-top: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3.35fr 0.5fr;
    }


    /* section with product desc */
    .card__content__top {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        width: 100%;
    }

    .card__content__top-wrap {
        display: flex;
    }

    .card__content__top-wrap p{
        font-size: 2.35vw;
    }

    .card__content__top-title {
        margin-right: 2%;
        width: 50%;
    }

    .card__content__top-title h2 {
        font-size: 3.4vw;
        margin-bottom: 1.5vw;
    }

    .card__content__top-des {
        font-size: 2.35vw;
        width: 50%
    }

    /* section with pictures */
    .card__product {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100%;
        margin-top: 0%;
    }

    .card__product__wrap {
        height: auto;
    }

    .card__product__slider {
        width: 65vw;
        text-align: center;
    }

    .item {
        width: auto;
    }

    .slider .item img {
        object-fit: cover;
        width: 100%;
    }

    .card__content__bottom {
        width: 100%;
        bottom: 0;
        background-color: white;
    }

    .card__product__slider__link {
        top: 26vw;
    }

    .prev {
        left: 1vw;
    }

    .next {
        right: 1vw;
    }

    /* section with price */
    .card__content__bottom {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }


    /* for new generate elements */
    .div__circle {
        width: 10vw;
        height: 10vw;
        top: 10vw;
    }

    /* popup window */
    .popup {
        width: 50vw;
        height: 30vw;
        left: 25%;
        top: 44%;
    }

    /* ingredients */
    .ingred {
        height: 102%;
    }

    .ingred__content {
        height: 102vw;
        width: 80vw;
        padding: 4vw;
        left: 6%;
        top: 7%;
    }

    .ingred__content__el {
        margin-top: 48vw;
    }

    .ingred__content__el__line {
        flex-direction: column;
        margin-top: 3.5vw
    }

    .ingred__content__el__line__block-item {
        margin-right: 12vw;
        margin-bottom: 2vw;
    }

    .item-special {
        margin-right: 21vw;
    }

    .ingred__content__block__box {
        padding: 3vw;
    }

    .ingred__content__block__box:first-of-type {
        width: 15vw;
        transform: translate(4vw, 10vw) scale(1.4);
    }

    .ingred__content__block__box:nth-of-type(2) {
        height: 10vw;
        transform: translate(9vw, 3vw) scale(1.4);
    }

    .ingred__content__block__box:nth-of-type(3) {
        height: 13vw;
        transform: translate(8vw, 16vw) scale(1.4);
    }

    .ingred__content__block__box:nth-of-type(4) {
        height: 12vw;
        transform: translate(-34vw, 37vw) scale(1.4);
    }

    .ingred__contnet__show {
        top: 54%;
    }

    .ingred__contnet__show img {
        margin-left: 2.4vw;
    }

    .ingred__content__desc {
        height: 108vw;
        width: 55vw;
        padding: 4vw 3vw 0vw 7vw;
    }

    .card__product__ingred {
        font-size: 1.8vw;
        padding-left: 21vw;
    }

}

@media (max-width: 425px) {

    .card {
        grid-template-rows: 0.5fr 2.5fr 0.5fr;
    }

    .card__content__top-wrap {
        flex-direction: column;
        padding: 7vw;
    }   
    
    .card__content__top-title,
    .card__content__top-des {
        width: 80%;
    }

    .card__content__top-wrap p {
        font-size: 3.6vw;
    }

    .card__content__top-title h2 {
        font-size: 5vw;
        margin-bottom: 2.4vw;
    }

    .card__product__slider {
        width: 80vw;
        margin-top: 13%;
    }

    /* popup window  */
    .popup {
        width: 80vw;
        height: 40vw;
        left: 11%;
        top: 43%;
    }

    .popup h2 {
        margin-top: 13vw;
    }

    /* ingredients */
    .ingred {
        top: 6%;
    }

    .ingred__content {
        height: 188vw;
        width: 83vw;
        padding: 4vw;
        left: 5%;
        top: 3%;
    }

    .ingred__content__close svg {
        width: 5vw;
    }

    .ingred__content h2 {
        margin-bottom: 10vw;
        font-size: 21px;
    }

    .ingred__content__block__box:first-of-type,
    .ingred__content__block__box:nth-of-type(2),
    .ingred__content__block__box:nth-of-type(3),
    .ingred__content__block__box:nth-of-type(4) {
        transform: none;
        width: auto;
        height: auto;
    }

    .ingred__content__block__box:nth-of-type(2) {
        transform: translate(-2vw, 8vw);
    }

    .ingred__content__block__box:nth-of-type(3) {
        transform: translate(-54vw, 42vw);
    }

    .ingred__content__block__box:nth-of-type(4) {
        transform: translate(-58vw, 58vw);
    }

    .ingred__content__block__box-percent {
        font-size: 13.8vw;
    }

    .ingred__content__el {
        margin-top: 70vw;
    }

    .ingred__content__el__line__block-item {
        margin-right: 8vw;
        margin-bottom: 3vw;
    }

    .item-special {
        margin-right: 25vw;
    }

    .ingred__contnet__show {
        top: 34%;
        right: -7vw;
    }

    .ingred__contnet__show img {
        margin-left: 3.4vw;
    }

    .ingred__content__desc {
        height: 180vw;
        width: 55vw;
        padding: 4vw 7vw 0vw 12vw;
    }

    .card__product__ingred {
        font-size: 2.8vw;
        padding-top: 4vw;
        padding-left: 14vw;
    }

}

@media (max-width: 320px) {
    .ingred__content__block__box:nth-of-type(3) {
        transform: translate(-61vw, 48vw);
    }

    .ingred__content__block__box:nth-of-type(4) {
        transform: translate(-62vw, 58vw);
    }

    .text-title {
        font-size: 12px;
    }

    .text-number {
        font-size: 18px;
    }

    .ingred__content__el__line__block {
        display: flex;
        flex-direction: column;
    }

    .ingred__content__el__line {
        flex-direction: row;
    }

    .ingred__contnet__show p {
        font-size: 12px;
        transform: translate(0vw, -17px) rotate(-90deg);
    }

    .ingred__contnet__show img {
        margin-left: 7.4vw;
        width: 3vw;
    }

    .ingred__content__decs__bottom p {
        font-size: 10px;
        padding-right: 2vw;
    }
    
}