/* styles for main page */


/* add basic styles which are used in all pages */
@import "basic.css";

body {
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: 6.8vw;
    font-weight: 500;
    text-align: center;
    margin-top: 38%;
}

.header__link:nth-of-type(3) {
    color: var(--pink);
}

/* MODAL WINDOWS FOR EVENTS */

.window {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 110vh;
    z-index: 999;
    display: none;
}

.window__bc {
    background-color: var(--blue);
    opacity: 0.5;
    width: 100%;
    height: 110vh;
    position: relative;
}

.window__item {
    position: absolute;
    top: 12%;
    left: 14%;
    width: 65vw;
    height: 36vw;
    padding: 3vw;
    background-color: white;
    display: none;
}

.window__item-active {
    display: block;
}

.window__item__close {
    display: flex;
    justify-content: flex-end;
}

.window__item__title {
    margin-bottom: 2vw;
}

.window__item__text {
    display: flex;
    margin-bottom: 3vw;
    margin-right: 3vw;
    font-size: 2.3vw;
}

.window__item__pic {
    height: 18vw;
    width: 40vw;
    margin: 0 auto;
    background-image: url(../img/afisha-7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* MAIN SCREEN WITH TITLE */

.wrapper__hero {
    grid-column: 2 / 5;
    width: 100%;
    display: flex;
}

.wrapper__hero__left,
.wrapper__hero__right {
    width: 50%;
    height: 43vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper__hero__left {
    background-image: url(../img/events-bc-left.svg);
}

.wrapper__hero__left h1 {
    color: var(--blue);
}

.wrapper__hero__right {
    background-image: url(../img/events-bc-right.svg);
}

.wrapper__hero__right h1 {
    color: var(--pink);
}

.wrapper__hero__tittle__phone {
    display: none;
}



/* CONTENT LINES */
.content {
    margin-top: 13vw;
    overflow-x: hidden;
}

.content__line {
    display: flex;
    animation: toRight 50s linear infinite;
    animation-direction: alternate;
}

.content__line:hover {
    animation-play-state: paused;
}

@keyframes toRight {
    0% {
        transform: translate(-120%);
    }
    50% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-120%);
    }
}

.content__line:nth-of-type(odd) .content__line__block:nth-of-type(even) .content__line__block__pic {
    background-color: var(--blue);
}

.content__line__block {
    margin-right: 8vw;
    width: 35vw;
}

.content__line__block__pic {
    background-color: var(--grey);
    width: 30vw;
    height: 26vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.open .content__line__block__pic:hover {
    background-image: url(../img/afisha-1.png);
}

.talk .content__line__block__pic:hover {
    background-image: url(../img/afisha-2.png);
}

.lecture .content__line__block__pic:hover {
    background-image: url(../img/afisha-3.png);
}

.block-one,
.block-two {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    color: white;
}

.block-two div:nth-of-type(2) {
    cursor: pointer;
}

.block-two div:nth-of-type(2):hover {
   text-decoration: underline;
}

.content__line__block__text {
    margin-top: 4vw;
}

.content__line__block__text p {
    margin-top: 1vw;
}



/* FORM */

.form {
    background-image: url(../img/afisha-form.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    margin-top: 20%;
    margin-bottom: 10%;
    width: 100%;
    height: 45vw;
}

.form__text {
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding-top: 10%;
}

.form__text h2 {
    margin-bottom: 2vw;
}

.form__inner {
    margin: 0 auto;
    margin-top: 4vw;
    width: 60%;
    display: flex;
    align-items: center;
}

.form__inner__block {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

label {
    color: white;
    font-size: 2.2vw;
}

input {
    margin-top: 1vw;
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 5px;
    height: 55px;
    padding: 0 1vw;
}

.form__inner__block:nth-of-type(2) {
    width: 14vw
}

.form__inner__block:nth-of-type(2) {
    width: 20vw;
}

button {
    background: #FFFFFF;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    color: var(--blue);
    font-size: 18px;
    text-transform: uppercase;

    width: 170px;
    height: 65px;
    margin-top: 2.8vw;
}

button:hover {
    background-color: var(--grey);
    color: white;
    border: 5px solid var(--grey);
}






@media (max-width: 768px) {

    h2 {
        font-size: 2.8vw;
    }

    p {
        font-size: 2.5vw;
    }

    /* WINDOW  */
    .window__item {
        top: 12%;
        left: 10%;
        width: 75vw;
        height: 66vw;
    }

    .window__item__pic {
        height: 33vw;
        width: 56vw;
    }

    .window__item__text {
        margin-bottom: 6vw;
    }

    .wrapper__hero {
        margin-top: 9%;
        grid-column: 2 / 6;
    }

    .form {
       height: 59vw;
    }

    .form__text {
        padding-top: 17%;
    }

    .form__inner {
        margin-top: 5vw;
        width: 80%;
    }

    .form__inner__block:nth-of-type(2) {
        width: 18vw
    }
    
    .form__inner__block:nth-of-type(2) {
        width: 24vw;
    }
}

@media (max-width: 425px) {

    p {
        font-size: 4vw;
    }

    h2 {
        font-size: 18px;
    }

    h1 {
        margin-top: 34%;
    }

    /* WINDOW */
    .window__item {
        top: 12%;
        left: 7%;
        width: 80vw;
        height: 140vw;
    }

    .window__item__title {
        margin-bottom: 9vw;
    }

    .window__item__text {
        flex-direction: column;
        margin-right: 0;
    }

    .window__item__text p {
        margin-bottom: 4vw;
        font-size: 3.5vw;
    }

    .window__item__pic {
        height: 76vw;
        width: 76vw;
    }

    /* FIRST SCREEN */
    .wrapper__hero__right,
    .wrapper__hero__title {
        display: none;
    }

    .wrapper__hero__tittle__phone {
        display: flex;
        flex-direction: column;
        font-size: 13vw;
    }

    .wrapper__hero__left {
        width: 100%;
        height: 91vw;
    }

    /* CONTENT LINE STYLES */

    .content__line {
        display: flex;
        animation: toRightPhone 50s linear infinite;
        animation-direction: alternate;
    }
    
    .content__line:hover {
        animation-play-state: paused;
    }
    
    @keyframes toRightPhone{
        0% {
            transform: translate(-220%);
        }
        50% {
            transform: translate(10%);
        }
        100% {
            transform: translate(-220%);
        }
    }

    .content__line__block {
        margin-right: 15vw;
        width: 50vw;
    }

    .content__line__block__pic {
        width: 50vw;
        height: 45vw;
    }

    .block-one, 
    .block-two {
        padding: 2vw;
        font-size: 14px;
    }    

    /* FORM STYLES */

    .form {
        margin-bottom: 102%;
        height: 70vw;
    }

    .form__text {
        width: 88%;
    }

    .form__text h2 {
        font-size: 5.8vw;
    }

    .form__inner {
        margin-top: 36vw;
        flex-direction: column;
        align-items: flex-start;
    }

    .form__inner__block {
        margin-bottom: 7vw;
        margin-right: 0;
    }

    .form__inner__block:nth-of-type(2) {
        width: 55vw;
    }

    label {
       color: var(--blue);
       font-size: 18px;
       font-weight: 600;
    }

    input {
        margin-top: 3vw;
    }

    button {
        background-color: var(--blue);
        color: white;
        border: 5px solid var(--blue);
    }
}
