/* styles for main page */


/* add basic styles which are used in all pages */
@import "basic.css";


body {
    transition: all 0.2s;
}

section{
    grid-column: 3 / 4;
    margin-bottom: 10%;
}



/* MAIN SECTION STYLES */

.main { 
    grid-column: 1 / 6;
    position: relative;
}

.main__bc {
    background-image: url(../img/main-bc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 94vh;
}

.main__centre {
    position: absolute;
    top: 40.5%;
    left: 43.7%;
}



/* CATALOG SECTION STYLES */

.catalog > p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: var(--blue);
}
  /* menu */
.catalog__menu {
    position: absolute;
    z-index: 2;
    height: 22vw;
    width: 30vw;
    margin-top: 5%;

    background-color: var(--grey);
}

.catalog__menu__links {
    padding: 13%;
    display: flex;
    flex-direction: column;
}

   /* all content in block (link & pictures) */

.catalog__menu__links__block {
    margin-bottom: 5%;
    position: relative;
}

.catalog__menu__links__block a {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
    color: var(--blue);
}

.catalog__menu__links__block:hover a{
    color: var(--pink);
}

.catalog__menu__links__block:hover a::after {
    content: '';
    position: absolute;
    top: 33%;
    margin-left: 7%;
    width: 23px;
    height: 17px;
  
    background-image: url(../img/link-arrow-pink.svg);
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 0.2s;
}

.catalog__menu__links__block-hover {
    position: absolute;
    transform: translate(30vw, 7vw);
    display: flex;
    opacity: 0;
    margin-right: 2vw;
}

   /* edit posistion of pictures */

.catalog__menu__links__block-hover-choc {
    transform: translate(30vw, 4vw);
}

.catalog__menu__links__block-hover-bars {
    transform: translate(30vw, 1vw);
}

.catalog__menu__links__block-hover-mar {
    transform: translate(30vw, -2vw);
}

.catalog__menu__links__block-hover img {
    width: 9vw;
    margin-left: 2vw;
}

.catalog__menu__links__block-candy:hover .catalog__menu__links__block-hover {
    opacity: 1;
} 

.catalog__menu__links__block-choc:hover .catalog__menu__links__block-hover {
    opacity: 1;
}

.catalog__menu__links__block-bars:hover .catalog__menu__links__block-hover {
    opacity: 1;
}

.catalog__menu__links__block-mar:hover .catalog__menu__links__block-hover {
    opacity: 1;
}



  /* menu background */
.catalog__back {
    background-color: var(--blue);
    align-items: end;
    margin: 0 auto;
    margin-top: 11%;
    width: 68vw;
    height: 27vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog__back__wave {
    margin: 0 auto;
}

.catalog__back__wave img {
    width: 63vw;
}

.catalog__back__wave img:first-of-type {
    padding-top: 1vw;
}
.catalog__back__wave img:last-of-type {
    padding-bottom: 1vw;
}


/* down link */
.link_to {
    text-align: end;
    margin-top: 7%;
    position: relative;
}

.link_to a {
    font-size: 1.3vw;
}

.link_to a::after{
    content: '';
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
    width: 20px;
    height: 14px;
  
    background-image: url(../img/links-arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 0.2s;
}

.link_to:hover a{
    color: var(--pink);
}

.link_to:hover a::after{
    background-image: url(../img/link-arrow-pink.svg);
}



/* GIF WAVES */

.waves {
    grid-column: 1 / 6;
    margin-bottom: 5%;
    overflow-x: hidden;
}



/* NEW SECTION STYLES */

.new h2 {
    margin: 0 auto;
    text-align: center;
    color: var(--blue);
}

.new > p {
    width: 10vw;
    color: var(--blue);
}

   /* candies photo */
.new__candies {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    height: 34vw;
}

.new__candy {
    animation: candy 6s linear infinite;
}

.new__candy__two {
    animation-delay: 2s;
}

.new__candy__three {
    animation-delay: 1s;
}

  /* animation candy */
@keyframes candy {
    0% {
       padding-top: 0%;
    }
    25% {
        padding-top: 10%;
    }
    50% {
        padding-top: 20%;
    }
    75% {
        padding-top: 10%;
    }
    100% {
        padding-top: 0%;
    }
}

.new__candy__img {
    width: 12vw;
    height: 10.5vw;
    background-image: url(../img/main-New1-black.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.new__candy__img__two {
    background-image: url(../img/main-New2-black.png);
}

.new__candy__img__three {
    width: 11vw;
    background-image: url(../img/main-New3-black.png);
}

  /* text styles */
.new__candy__text {
    text-transform: none;
    width: 16vw;
    transform: translate(6vw, 1vw);
    display: none;
}

.new__candy__text h4 {
    font-size: 21px;
}

.new__candy__text p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 9px;
}

.new__candy__text div {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.new__candy__text div p{
    font-weight: 500;
}

.new__candy__text div p:last-of-type{
    font-size: 21px;
}

   /* candies all hover things */
.new__candy:hover {
    animation-play-state: paused;
}

.new__candy:hover .new__candy__img {
    background-image: url(../img/main-New1-color.png);
}

.new__candy:hover .new__candy__img__two {
    background-image: url(../img/main-New2-color.png);
}

.new__candy:hover .new__candy__img__three {
    background-image: url(../img/main-New3-color.png);
}

.new__candy:hover .new__candy__text{
    display: block;
}



/* ABOUT SECTION STYLES */

.about__wrapper {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 4% 6% 80% 6% 4%;
    background-color: var(--pink);
    margin-bottom: 7%;
}

.about {
    margin-top: 10%;
    color: white;
    margin-bottom: 3%;
}

.about a {
    color: white;
}

.about__content {
    display: flex;
}

.about__text {
    width: 40%;
    margin-right: 5vw;
    font-size: 21px;
}

.about__text h2 {
    margin-bottom: 1vw;
}

.about__pic {
    position: relative;
}

.about__pic__rect {
    margin-left: 7vw;
    width: 37vw;
    height: 35vw;
    background-color: white;
}

.about__pic img {
    position: absolute;
    top: 20%;
    width: 36vw;
}

.about .link_to {
    text-align: start;
}



/* FEATURES SECTION STYLES */

.features {
    grid-column: 1 / 6;
    color: var(--pink);
    font-weight: 600;
    overflow-x: hidden;
}

.features p {
    font-size: 130px;
}



/* EVENTS SECTION STYLES */

.events__wrapper {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 4% 6% 80% 6% 4%;
    background-color: var(--pink);
    margin-bottom: 3%;
    color: white;
}

.events__wrapper a {
    color: white;
}

.events {
    margin-top: 10%;
    color: white;
    margin-bottom: 7%;
}

.events__content {
    display: flex;
}
  
   /* all left text styles */
.events__text {
    width: 40%;
    margin-right: 5vw;
    font-size: 21px;
}

.events__text h2 {
    margin-bottom: 1vw;
}

.events__text__links {
    margin-top: 27%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.talk,
.exib,
.lect {
    margin-bottom: 3vw;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.events__pic__photo {
    width: 26vw;
    height: 34vw;
    transform: translate(42vw, -13vw);
    position: absolute;
    z-index: 2;
    background-image: url(../img/main-Talk2-black.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.talk:hover,
.exib:hover,
.lect:hover {
   color: var(--blue);
}

.talk:hover .events__pic__photo {
    background-image: url(../img/main-Talk2.png);
}

  /* all styles for right pictures */
.events__pic {
    position: relative;
}

.events__pic__rect {
    margin-left: 7vw;
    width: 37vw;
    height: 35vw;
    background-color: white;
}

.events__pic img {
    position: absolute;
    top: 20%;
    width: 36vw;
}

.events .link_to {
    text-align: start;
}



/* WAVE ELEMENT */
.wave {
    grid-column: 1 / 6;
    overflow-x: hidden;
    margin-bottom: 3%;
}

.wave img {
    width: 100%;
}



/* REVIEWS STYLES */

.reviews__wrapper {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 4% 6% 80% 6% 4%;
    background-color: var(--blue);
}

.reviews {
    margin-top: 10%;
    margin-bottom: 3%;
}

.reviews h2 {
    color: white;
    margin-bottom: 3vw;
}

.reviews__block {
    color: var(--blue);
    margin-bottom: 2vw;
    position: relative;
}

.reviews__block:nth-of-type(even) {
    text-align: end;
}

.reviews__block p {
    width: 27%;
    position: absolute;
    padding: 1vw 4vw;
    text-align: start;
}

.reviews__block:nth-of-type(even) p {
    right: 0;
}

.reviews__block img {
    width: 29vw;
} 



/* WEB-POSTER */
.web-poster {
    overflow: hidden;
    grid-column: 1 / 6;
    background-color: var(--pink);
    font-size: 28px;
}

.web-poster a {
    font-size: 28px;
    color: white;
    padding: 1vw;
}


/* CONTACTS SECTION STYLES */

.contacts__wrapper {
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 4% 6% 80% 6% 4%;
    background-color: var(--grey);
    margin-bottom: 6%;
}

.contacts__wrapper a {
    color: var(--blue);
}

.contacts {
    margin-top: 10%;
    margin-bottom: 12%;
    margin-left: -2.5vw;
    display: flex;
}

.contacts__text {
    background-color: white;
    padding: 3%;
    width: 40%;
}

.contacts__text h2 {
    margin-bottom: 1vw;
}

.contacts__text__btn {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    margin-top: 4vw;
    cursor: pointer;
}

.contacts__text__btn div:hover {
    color: var(--pink);
}

.contacts__text__btn div {
    margin-right: 5vw;
}

.contacts__time {
    position: relative;
    margin-left: 10vw;
}

.contacts__time div {
    position: absolute;
}

.contacts__time p {
    color: white;
    font-size: 140px;
    font-weight: 500;
}

.contacts__time__monday,
.contacts__time__saturday {
    visibility: hidden;
}

.contacts__time__monday p:first-of-type {
    transform: rotate(10deg);
    margin-bottom: 1vw;
}

.contacts__time__monday p:nth-of-type(2){
    transform: rotate(-4deg);
}

.contacts__time__saturday p:first-of-type {
    transform: rotate(-8deg);
    margin-bottom: 1vw;
}

.contacts__time__saturday p:nth-of-type(2){
    transform: rotate(4deg);
}








@media (max-width: 1024px) {

    .main__bc {
        height: 93vh;
    }

    .main__centre {
        left: 40.7%;
    }
}

@media (max-width: 768px) {

    section {
        grid-column: 2 / 4;
    }

    .main {
        margin-top: 9%;
    }
    
    .main__bc {
        height: 93vh;
    }

    .main__centre {
        top: 42.5%;
        left: 37.7%;
    }

    .catalog > p {
        width: 79%;
    }


      /* CATALOG */

    .catalog__menu {
        height: 38vw;
        width: 46vw;
        margin-top: 9%;
    }

    .catalog__back {
        height: 61vw;
        width: 77vw;
        margin: 0 auto;
        margin-top: 25%;
        margin-right: 0;
    }

    .catalog__menu__links__block {
        margin-bottom: 8%;
    }

    .catalog__menu__links__block a {
        font-size: 4vw;
    }

    .catalog__menu__links__block-hover img {
        width: 15vw;
        margin-left: 2vw;
    }

    .catalog__menu__links__block-hover {
        transform: translate(17vw, 32vw);
    }

    .catalog__menu__links__block-hover-choc {
        transform: translate(17vw, 26vw);
    }

    .catalog__menu__links__block-hover-bars {
        transform: translate(17vw, 19vw);
    }

    .catalog__menu__links__block-hover-mar {
        transform: translate(17vw, 12vw);
    }

    .catalog__back__wave img {
        width: 77vw;
    }

    .catalog__back__wave img:first-of-type {
        padding-top: 2vw;
    }

    .catalog__back__wave img:last-of-type {
        padding-bottom: 2vw;
    }

    .link_to {
        margin-top: 18%;
    }

    .link_to a {
        font-size: 2.3vw;
    }

    /* NEW */

    .new {
      grid-column: 2 / 5;
    }

    .new p {
        font-size: 2vw;
        width: 17vw;
    }

    .new__candies {
        height: 80vw;
        flex-direction: column;
        margin-top: 5vw;
    }

    .new__candy {
        animation: candyTablet 8s linear infinite;
        margin-bottom: 7vw;
    }

    .new__candy__two {
        animation-delay: 2s;
    }
    
    .new__candy__three {
        animation-delay: 1s;
    }

    @keyframes candyTablet {
        0% {
           padding-left: 0%;
        }
        25% {
            padding-left: 30%;
        }
        50% {
            padding-left: 70%;
        }
        75% {
            padding-left: 30%;
        }
        100% {
            padding-left: 0%;
        }
    }


    .new__candy__img {
        width: 22vw;
        height: 20.5vw;
    }

    .new__candy__text {
        display: block;
        width: 27vw;
        transform: translate(1vw, 1vw);
    }

    .new__candy__text p {
        display: none
    }

    .new__candy:hover .new__candy__text p{
        display: none;
    }

    .new .link_to {
        margin-right: 6vw;
    }

    /* ABOUT */

    .about,
    .events {
        margin-top: 18%;
        color: white;
        margin-bottom: 17%;
    }

    .about__content {
        flex-direction: column;
    }  

    .about__text,
    .events__text {
        width: 66%;
        margin-right: 0vw;
        margin-bottom: 16vw;
    }

    .about__text h2,
    .events__text h2{
        margin-bottom: 4vw;
    }

    .about__pic__rect {
        margin: 0 auto;
        margin-right: 0;
        width: 71vw;
        height: 48vw;
    }

    .about__pic img {
        position: absolute;
        top: 12%;
        margin-left: 7vw;
        width: 63vw;
    }

    .about .link_to {
       margin-top: 24%;
    }

    /* EVENTS */
    .events__pic__photo {
        width: 38vw;
        height: 52vw;
        transform: translate(47vw, -15vw);
    }

    /* .events__pic {
        transform: translate(0vw, 29vw);
        margin-right: -3vw;
    }

    .events__pic__rect {
        height: 52vw;
    } */

    .events__pic {
        display: none;
    }

    .talk, .exib, .lect {
        font-size: 2.8vw;
    }

    .events__text__links {
        margin-top: 46%;
    }

    /* REVIEWS */
    .reviews {
        margin-top: 11%;
        margin-bottom: 15%;
    }

    .reviews h2 {
        margin-bottom: 10vw;
    }

    .reviews__block {
        align-items: center;
        margin-bottom: 6vw;
    }

    .reviews__block img {
        width: 57vw;
    }

    .reviews__block p {
        width: 56%;
        padding: 3vw 4vw;
    }   
    
    /* CONTACTS */
    .contacts {
        flex-direction: column;
        grid-column: 2 / 5;
        margin-bottom: 2%;
    }

    .contacts__text {
        padding: 5%;
        width: 85%;
        margin: 0 auto;
    }

    .contacts__text h2 {
        margin-bottom: 4vw;
    }

    .contacts__text p {
        width: 64%;
    }

    .contacts__time p {
        font-size: 120px;
    }

    .contacts__time div {
        height: 36vw;
        visibility: visible;
        margin-left: 23vw;
        margin-top: 7vw;
     }

     .contacts__time {
         margin-left: 0;
         height: 48vw
     }


}


